<!-- Qualification Start -->
<div class="container-fluid py-5" id="qualification">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
            <h1 class="position-absolute text-uppercase text-primary">Education & Experience</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="mb-4">My Education</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">MPS in Applied Machine Intelligence</h5>
                        <p class="mb-2"><a href="https://www.northeastern.edu" target="_blank"><strong>Northeastern University</strong></a> | <small>Boston, USA</small> | <small>2024 - 2026</small></p>
                        <p>Currently completing Masters in Professional Studies at Northeastern University in the program Applied Machine Intelligence</p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Bachelor in Computer Application</h5>
                        <p class="mb-2"><a href="https://kristujayanti.edu.in" target="_blank"><strong>Kristu Jayanti College</strong></a> | <small>Bangalore, India</small> | <small>2019 - 2022</small></p>
                        <p>Successfully completed Bachelor degree in Computer Science with a strong GPA in the year 2022</p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">High School</h5>
                        <p class="mb-2"><a href="https://www.stphilomenasps.com" target="_blank"><strong>St. Philomena's Public School & Junior College</strong></a> | <small>2017 - 2019</small></p>
                        <p>Successfully completed high school in the concentration Computer Science</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">My Experience</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Software Test Engineer</h5>
                        <p class="mb-2"><a href="https://www.ni.com/en.html" target="_blank"><strong>National Instruments (Telibrahma SW Service Contract)</strong></a> | <small>August 2022 - July 2024</small></p>
                        <p>
                            <ul>
                                <li>Contributed to ensuring the software was up to the standards and helped new customers to have a clear idea of the functionality.</li>
                                <li>Provided recommendations and assisted clients in seamlessly integrating National Instruments technology into their software.</li>
                                <li>Developed industrial-level drivers to integrate with LabVIEW and C, automating instrument testing.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Qualification End --> 