<!-- About Start -->
<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
            <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="img/profile1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">Data Engineer</h3>
                <p>Results-driven software test engineer with 2 years of experience in developing and integrating industrial-level software solutions, including custom drivers for LabVIEW and C-based systems. Skilled in ensuring software meets high standards while providing seamless customer support and integration guidance. Adept at troubleshooting, debugging, and offering recommendations to optimize performance. Proficient in Python, C++, Java, and Azure DevOps with a strong ability to communicate complex technical concepts to clients. Committed to delivering high-quality solutions and enhancing user experience by facilitating smooth integration. Seeking to leverage technical expertise and problem-solving skills in a dynamic data engineering role.</p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2"><h6>Name: <span class="text-secondary">Amos Jaimes</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Birthday: <span class="text-secondary">24 January 2002</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Degree: <span class="text-secondary">Master in Professional studies</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Program: <span class="text-secondary">Applied Machine Intelligence</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Experience: <span class="text-secondary">2 Years</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Phone: <span class="text-secondary">+1 6179349015</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">jaimes.a@northeastern.edu</span></h6></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End --> 